.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: "Montserrat", cursive;
}

img {
  width: 80%;
}

.btn {
  border: none;
  background-color: #00ADB5;
  color: white;
  font-size: 2rem;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #232931;
  font-family: "Montserrat", sans-serif;
  cursor: pointer; 
  margin-left: 900px;
  margin-top: 40px;
}